@font-face {
  font-family: Poppins-Medium;
  src: url("../font/Poppins-Medium.otf") format("opentype");
}
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins-Medium', serif;
    color:white;
}
canvas{
  width:100%!important;
  height:100%!important;
}
#month{
    position:fixed;
    text-align:center;
    bottom:46px;
    z-index:1;
    width:100%;
    font-size:14px;
    z-index:1;
}

.number {
  font-size: 100px;
  font-family: 'Alegreya SC', serif;
  color:white;
}

#days{
  position:fixed;
  margin: 0 auto;
  width:100%;
  font-size:14px;
  height:20px;
  bottom:22px;
  text-align: center;
  z-index:1;
}

.day{
  text-align:center;
  min-width:10px;
  width:4%;
  max-width:30px;
  display:inline-block;
  color:gray;
}

.selected{
  color:white;
}

#label{
  white-space: pre;position:absolute;pointer-events:none;font-size:14px;color:white;z-index=100;bottom:20px;left:20px;opacity:0;
}
#label_2014{
  white-space: pre;position:absolute;pointer-events:none;font-size:14px;color:white;z-index=100;opacity:0;
}
#label_1920{
  white-space: pre;position:absolute;pointer-events:none;font-size:14px;color:white;z-index=100;opacity:0;
}
