@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries


/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
//	@include box-sizing(border-box);
}

*::after, *::before {
//	content: '';
}

* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font: {
		size: 100%;
		family: $primary-font;
		weight: 400;
	}
	color: $il-black;
	background: $il-white;
}

body, html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *="pure-u"] {
    font: {
    	size: 100%;
    	family: $primary-font !important;
    }
    color: $il-black;
    //background: $il-white;
}

b {
	font-weight: 800;
}

h1 {
	@include font-size(50px);
}

h2 {
	@include font-size(40px);
	padding:20px 0px;
}

h3 {
	@include font-size(30px);
	line-height: 1.2;
}

h5 {
	@include font-size(22px);
	font-weight: 500;
	line-height: 1.3;
}

p {
	@include font-size(18px);
	line-height: 1.4;
}

@include MQ(M) {
	p {
		@include font-size(20px);
		line-height: 1.5;
	}
}

a {
	color: $il-blue;
	text-decoration: none;
	&:hover {
		color: darken($il-blue, 20%);
	}
}

img {
	width: 100%;
	height: auto;
	//padding: 40px 0px;
}

/* --------------------------------

Main components

-------------------------------- */

html, body {
	height: 100%;
}

// 100% height row section

.cover {
	width: 100%;
	display: table;
	margin: 0;
	max-width: none;
	height: 100vh;
	background-color: grey;
}

.main-content {

	.btn {
		position: relative;
		display: inline-block;
		padding: 1em 2em;
		background-color: $il-blue;
		color: $il-white;
		font-weight: 600;
		@include font-smoothing;
		border-radius: 50em;
		box-shadow: inset 0 1px 0 rgba(#fff, .5), 0 0 5px rgba(#000, .1);
		@include transition(all .2s);

		.no-touch &:hover {
			box-shadow: inset 0 1px 0 rgba(#fff, .5), 0 0 20px rgba(#000, .3);
		}
	}
}

.panel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	@include transition(visibility 0s .6s);

	&::after {
		/* overlay layer */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0);
		cursor: pointer;
		@include transition(background .3s .3s);
	}

	&.is-visible {
		visibility: visible;
		@include transition(visibility 0s 0s);

		&::after {
			background: rgba(#000, .6);
			@include transition(background .3s 0s);
		}

		.panel-close::before {
			@include animation(close-1 .6s .3s);
		}

		.panel-close::after {
			@include animation(close-2 .6s .3s);
		}
	}
}

@include keyframes(close-1) {
	0%, 50% {
		@include transform(rotate(0));
	}

	100% {
		@include transform(rotate(45deg));
	}
}

@include keyframes(close-2) {
	0%, 50% {
		@include transform(rotate(0));
	}

	100% {
		@include transform(rotate(-45deg));
	}
}

.panel-header {
	position: fixed;
	width: $panel-width-S; // variables inside partials > _variables.scss
	height: 50px;
	line-height: 50px;
	background: rgba($il-white, .96);
	z-index: 2;
	box-shadow: 0 1px 1px rgba(#000, .08);
	@include transition(top .3s 0s);

	h1 {
		font-weight: bold;
		color: $il-black;
		padding-left: 5%;
	}

	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: $il-white;
		li {
			float: left;
			a {
				display: block;
				color: $il-black;
				text-align: center;
				padding: 0px 20px;
				text-decoration: none;
			}
		}
	}
	.active {
    	color: $il-blue;
	}

	.from-right &, .from-left & {
		top: -50px;
	}

	.from-right & {
		right: 0;
	}

	.from-left & {
		left: 0;
	}

	.is-visible & {
		top: 0;
		@include transition(top .3s .3s);
	}

	@include MQ(M) {
		width: $panel-width-M;
	}

	@include MQ(L) {
		width: $panel-width-L;
	}

	@include MQ(X) {
		width: $panel-width-X;
	}
}

.panel-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 60px;

	/* image replacement */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	&::before, &::after {
		/* close icon created in CSS */
		position: absolute;
		top: 22px;
		left: 20px;
		height: 3px;
		width: 20px;
		background-color: $il-black;
		/* this fixes a bug where pseudo elements are slighty off position */
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&::before {
		@include transform(rotate(45deg));
	}

	&::after {
		@include transform(rotate(-45deg));
	}

	.no-touch &:hover {
		background-color: $il-white;

		&::before, &::after {
			background-color: $il-blue;
			@include transition-property(transform);
			@include transition-duration(.3s);
		}

		&::before {
			@include transform(rotate(220deg));
		}

		&::after {
			@include transform(rotate(135deg));
		}
	}
}

.panel-container {
	position: fixed;
	width: $panel-width-S;
	height: 100%;
	top: 0;
	background: $il-white;
	z-index: 1;
	@include transition-property(transform);
	@include transition-duration(.3s);
	@include transition-delay(.3s);

	.from-right & {
		right: 0;
		@include transform(translate3d(100%, 0, 0));
	}

	.from-left & {
		left: 0;
		@include transform(translate3d(-100%, 0, 0));
	}

	.is-visible & {
		@include transform(translate3d(0, 0, 0));
		@include transition-delay(0s);
	}

	@include MQ(M) {
		width: $panel-width-M;
	}

	@include MQ(L) {
		width: $panel-width-L;
	}

	@include MQ(X) {
		width: $panel-width-X;
	}
}

.panel-content {
	position: absolute;
	top: 0;
	left: 0;
	//width: 100%;
	height: 100%;
	padding: 80px; //10%;
	overflow: auto;

	/* smooth scrolling on touch devices */
	-webkit-overflow-scrolling: touch;

	img {
		width: 100%;
		height: auto;
	}

	p {
		margin: 2em 0;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

/*
	Panel Tabs
*/

ul.tabs {
	margin: 0px;
	padding-left: 10%;
	list-style: none;
	li {
		background: none;
		color: $il-black;
		display: inline-block;
		padding: 0 15px;
		cursor: pointer;
		&.current {
			color: $il-blue;
  		}
  		&:hover {
  			color: darken($il-blue, 20%);
  		}
  	}
}

.tab-content {
	display: none;
	padding-top: 60px;
	padding-bottom: 120px;
	&.current{
  		display: inherit;
	}
}

/*
	Side Menu
*/

.menu-hover {
	z-index: 99;
	display: block;
	overflow: hidden;
	position: fixed;
	width: 250px;
	height: 370px;
	top: 0px;
	left: 0px;
}

ul.logo {
	margin: 40px;
	left: 40px;
	font-size: 18px;
	li {
    	&:hover {
    	color: darken($il-blue, 20%);
    	cursor: pointer;
		}
	}
}

.side-menu {
	display: block;
	width: auto;
	left: -200px;
	margin-left: 40px;
	height: 100%;
	position: fixed;
	cursor: pointer;
	color: $il-black;
	li {
		font-size: 18px;
		line-height: 34px;
		a {
			color: $il-black;
			&:hover {
			color: darken($il-blue, 20%);}
		}
	}
}

/*
	Publication
*/

.publication-cover {
	height: 90vh;
	background-color: $il-black;
	width: 100%;
	display: table;
	margin: 0;
	max-width: none;
}

/*
	Archives
*/

.archives {
	height: 200px;
	width: 100%;
	display: table;
	margin: 0;
	max-width: none;
	header {
		background-color: $il-black;
	}
	section {
		background-color: $il-white;
	}
}

/*
	Project
*/

.project-cover {
	height: 70vh;
	background-color: $il-black;
	width: 100%;
	display: table;
	margin: 0;
	max-width: none;
}

.project-header {
	background-color: $il-blue;
	h1 {
		@include font-size(40px);
		line-height: 1.3;
		padding:20px 0px;
		color: $il-white;
		font-family: $secondary-font;
	}
	h5 {
		color: $il-white;
		font-family: $secondary-font;
	}
	.project-content {
		padding: 30px 0px 100px 0px;
	}
}

.project-container {
	width: 100%;
	border-top: 1px solid lighten($il-black, 80%);
	@include MQ(S) {}
	@include MQ(M) {}
	@include MQ(L) {}
	@include MQ(X) {}
	.project-content {
		padding: 100px 0px;
		h3 {
			@include font-size(40px);
			font-weight: bold;
			line-height: 1.25;
			font-family: $secondary-font;
		}
		h4 {
			@include font-size(40px);
			line-height: 1.25;
			font-family: $secondary-font;
			margin-bottom: 80px;
		}
		p {
			margin: 20px 0px;
			font-family: $secondary-font;
		}
		@include MQ(S) {}
		@include MQ(M) {}
		@include MQ(L) {}
		@include MQ(X) {}
	}
	figcaption {
		@include font-size(16px);
		line-height: 1.2rem;
		margin-top: 10px;
		font-family: $primary-font;
	}
}



/*
	lightgallery
*/

#gallery {
//	background-color: darken($il-white, 20%);
	margin: 5em 2em;

	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;

	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;


	@include MQ(S) {
	}
	@include MQ(M) {
		-moz-column-gap: 1.5em;
		-webkit-column-gap: 1.5em;
    	-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}
	@include MQ(L) {
	}
	@include MQ(X) {
		-moz-column-gap: 2em;
		-webkit-column-gap: 2em;
    	-webkit-column-count: 4;
	    -moz-column-count: 4;
	    column-count: 4;
	}
}

.gallery-item {
	display: inline-block;
	width: 100%;
	margin: 1em 0em 0em 0em;
	@include MQ(S) {
	}
	@include MQ(M) {
		margin: 1.5em 0em 0em 0em;
	}
	@include MQ(L) {
	}
	@include MQ(X) {
		margin: 2em 0em 0em 0em;
	}
	img {
		width:100%;
		height: auto;
	}
	&:hover {
		box-shadow: inset 0 1px 0 rgba(#fff, .5), 0 0 20px rgba(#000, .3);
	@include transition(all .2s);
	}

}

/*
	END
*/