// colors

$il-blue: #5EC8D8; // blue
$il-grey: #C8C8D2; // cool grey
$il-black: #141418; // cool black
$il-white: #fafafa; // white-ish

// panel size

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 60%;
$panel-width-X: 50%;

// fonts

$primary-font: 'Aileron', helvetica, sans-serif;
$secondary-font: 'Lora', serif;